footer.bottom {
    text-align: center;
    font-size: 14px;
    padding: 30px 10px 30px;
    background: #fff;
    img{
        max-width: 100%;
    }
    .svg{
        width: 50%;
    }
    .container {
    
    
    .columns {
        .column {
            padding: .75rem;
        }
        .has-text-left {
            text-align: left!important;
        }
}

.out-link li {
    margin-top: 10px;
}
ul {
    list-style: none;
    li {
    display: inline-block;
    margin-right: 1em;
}
}
.is-pulled-left {
    float: left!important;
}
h4.title.is-4{
    padding-top: 18px;

}
h4.title.is-4, h4.title.is-4 ~ p {
    margin-bottom: 10px;
    padding-left: 75px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.125;
    word-break: break-word;
    small{
        font-size: 12px;
        color: #324057;
        line-height: 1;
        margin-right: 10px;
    }
}
a.link {
    color: #1f2d3d;
    border-bottom: 1px dotted #a1aab9;
    padding: 0 0.2em;
    border-radius: 2px;
}
a.link:hover{
    background: #a1aab9;
    color: #fff;
}



    .backup-no {
        padding-top: 2em;
        display: block;
        text-align: left;
    }
}
}

